environments/prod/common/config/main-important.php
environments/prod/common/config/params-important.php
frontend/runtime/*
backend/runtime/*
.idea
*.log
*.DS_Store
backend/web/assets/*
frontend/web/assets/*
sftp-config.json
.ftpconfig
